/**************************
  * 
  * infoWindow 
  *
****************************/
.gm-style-iw {
  padding:0px !important;
  max-height: inherit !important;
}
.gm-style-iw-d {
    overflow: hidden !important;
     max-height: inherit !important;
}

#infoWindow {
  position: relative;
  min-width:250px;
}

#infoWindow .content .content-wrapper{ 
    position: relative;
    padding: 20px;
}

.gm-style img {
  width:100%;
}

iframe {
    border:none !important;
}

button.gm-ui-hover-effect img {
    display: none !important;
}

/*Close Button*/
button.gm-ui-hover-effect {
    background: white !important;
    border-radius: 50%;
    top: 4px !important;
    z-index: 9999;
    right: 4px !important;
    color: #fff;
    width: 20px !important;
    height: 20px !important;
    border: 1px solid #6d6d6d !important;
}
