/**************************
  * 
  * infoWindow 
  *
****************************/
.gm-style-iw {
  padding:0px !important;
  max-height: inherit !important;
}
.gm-style-iw-d {
    overflow: hidden !important;
     max-height: inherit !important;
}

#infoWindow {
  position: relative;
  min-width:250px;
}

#infoWindow .content .content-wrapper{ 
    position: relative;
    padding: 20px;
}

.gm-style img {
  width:100%;
}

iframe {
    border:none !important;
}

button.gm-ui-hover-effect img {
    display: none !important;
}

/*Close Button*/
button.gm-ui-hover-effect {
    background:#e86d98 !important;
    border-radius: 50%;
    top: 4px !important;
    z-index: 9999;
    right: 4px !important;
    color: #fff;
    width: 22px !important;
    height: 22px !important;
    border: 3px solid #1f1f1f !important;
    background-image:url('../img/close-icon.svg') !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 6px !important;

}
